@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

.App {
  height: 100vh;
}

.mainHeader {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeader a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

.arrow {
  margin-right: 0.2rem;
  width: 15px;
}

.linkArrow {
  width: 30px;
}

.suitEmoji {
  font-size: 3rem;
}
